/.obsidian

*.cache
*.json
*.targets
*.props
*.dll
CPS 303/Codes/helloWorld/obj/Debug/net8.0/helloWorld.vbproj.FileListAbsolute.txt
CPS 303/Codes
*.json
*.json
*.v2
*.json
*.vsidx
CPS 303/Codes/helloWorld/.vs/helloWorld/v17/.suo
*.bin
*.pdb
*.sln
*.vbproj
*.exe
.obsidian/plugins/obsidian-completr/scanned_words.txt
.obsidian/workspace.json
.obsidian/workspace.json
